<a href="https://colab.research.google.com/github/DiptangshuPattadar/python_new/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:


data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "NO"],
    "Marital Status ": ["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income ": ["125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"]
}


df = pd.DataFrame(data)


print(df)

   Tid Refund Marital Status  Taxable Income  Cheat
0    1    Yes          Single            125K    No
1    2     No         Married            100K    No
2    3     No          Single             70K    No
3    4    Yes         Married            120K    No
4    5     No        Divorced             95K   Yes
5    6     No         Married             60K    No
6    7    Yes        Divorced            220K    No
7    8     No          Single             85K   Yes
8    9     No         Married             75K    No
9   10     NO          Single             90K   Yes

In [ ]:
print(df.iloc[[0, 4, 7 , 8]])

   Tid Refund Marital Status  Taxable Income  Cheat
0    1    Yes          Single            125K    No
4    5     No        Divorced             95K   Yes
7    8     No          Single             85K   Yes
8    9     No         Married             75K    No

In [ ]:
print(df.iloc[3:8])

print(df.iloc[4:9 , 2:5])

print(df.iloc[: , 1:4])

   Tid Refund Marital Status  Taxable Income  Cheat
3    4    Yes         Married            120K    No
4    5     No        Divorced             95K   Yes
5    6     No         Married             60K    No
6    7    Yes        Divorced            220K    No
7    8     No          Single             85K   Yes
  Marital Status  Taxable Income  Cheat
4        Divorced             95K   Yes
5         Married             60K    No
6        Divorced            220K    No
7          Single             85K   Yes
8         Married             75K    No
  Refund Marital Status  Taxable Income
0    Yes          Single            125K
1     No         Married            100K
2     No          Single             70K
3    Yes         Married            120K
4     No        Divorced             95K
5     No         Married             60K
6    Yes        Divorced            220K
7     No          Single             85K
8     No         Married             75K
9     NO          Single             90K

In [ ]:
df = pd.read_csv('Iris.csv')
# Display the first five rows
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'Iris.csv'

In [ ]:
df = pd.read_csv('Iris.csv')
df = df.drop([3])
df.drop('PetalLengthCm', axis=1, inplace=True)

FileNotFoundError: [Errno 2] No such file or directory: 'Iris.csv'

In [ ]:
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

df = pd.DataFrame(data)
df.to_csv("employees.csv", index=False)

# a)
print("Shape :\n", df.shape)

# b)
print("Info:\n")
print(df.info())

# c)
print("Description:\n")
print(df.describe())

# d)
print("Head:\n")
print(df.head())
print("Rows 2 to 5:\n")
print(df.iloc[2:5])

# e)
print("Average Salary:\n", df["Salary"].mean())
print("Total Bonus:\n", df["Bonus"].sum())
print("Youngest Employee Age:\n", df["Age"].min())
print("Highest Rating:\n", df["Rating"].max())

# f)
sorted_df = df.sort_values(by="Salary", ascending=False)
print("Sorted DataFrame by Salary:\n")
print(sorted_df)

# g)
df["Performance"] = pd.cut(
    df["Rating"],
    bins=[0, 4.0, 4.5, 5],
    labels=["Average", "Good", "Excellent"]
)
print("Name and Performance:\n")
print(df[["Name", "Performance"]])

# h)
print("Null values before filling Bonus:\n")
print(df.isnull().sum())
df["Bonus"] = df["Bonus"].fillna(0)

# i)
df.rename(columns={"Employee_ID": "ID"}, inplace=True)
print("\ni) Renamed DataFrame:\n")
print(df)

# j)
filtered_df = df[(df["Years_of_Experience"] > 5) & (df["Department"] == "IT")]
print("Filtered DataFrame (Experience > 5 and Department = IT):\n")
print(filtered_df)

# K)
print("Null values after handling:\n")
print(df.isnull().sum())
df["Tax"] = df["Salary"] * 0.1
print("DataFrame with Tax Column:\n")
print(df)

# L)
df.to_csv("modified_employees.csv", index=False)

Shape :
 (5, 10)
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None
Description:

       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000
Head:

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
Rows 2 to 5:

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
Average Salary:
 60000.0
Total Bonus:
 27500
Youngest Employee Age:
 28
Highest Rating:
 4.7
Sorted DataFrame by Salary:

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5
Name and Performance:

      Name Performance
0    Alice        Good
1      Bob     Average
2  Charlie     Average
3    Diana   Excellent
4   Edward     Average
Null values before filling Bonus:

Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

i) Renamed DataFrame:

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance
0  Female   5000     4.5        Good
1    Male   7000     4.0     Average
2    Male   6000     3.8     Average
3  Female   4500     4.7   Excellent
4    Male   5000     3.5     Average
Filtered DataFrame (Experience > 5 and Department = IT):

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance
1   Male   7000     4.0     Average
2   Male   6000     3.8     Average
Null values after handling:

ID                     0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64
DataFrame with Tax Column:

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance     Tax
0  Female   5000     4.5        Good  5000.0
1    Male   7000     4.0     Average  7000.0
2    Male   6000     3.8     Average  6500.0
3  Female   4500     4.7   Excellent  5500.0
4    Male   5000     3.5     Average  6000.0