<a href="https://colab.research.google.com/github/DiptangshuPattadar/python_new/blob/main/Assignment_2_Cognitive_Computing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



Q.1
Perform the following operations on the list L = [10, 20, 30, 40, 50, 60, 70, 80]:
i. Add 200 and 300 to L
ii. Remove 10 and 30 from L
iii. Sort L in ascending order
iv. Sort L in descending order

In [3]:

L = [10, 20, 30, 40, 50, 60, 70, 80]


L.extend([200, 300])


L.remove(10)
L.remove(30)


L.sort()
print("Ascending order:", L)


L.sort(reverse=True)
print("Descending order:", L)

Ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Q.2
Perform operations on the tuple scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45):
i. Find the highest score and its index
ii. Find the lowest score and how many times it appears
iii. Reverse the tuple and return it as a list
iv. Check if 76 is in the tuple and its first occurrence indexPerform

In [4]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


highest_score = max(scores)
highest_index = scores.index(highest_score)
print("Highest score:", highest_score, "at index:", highest_index)


lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print("Lowest score:", lowest_score, "appears", lowest_count, "times.")


reversed_list = list(scores[::-1])
print("Reversed tuple as list:", reversed_list)

if 76 in scores:
    print("76 is at index:", scores.index(76))
else:
    print("76 is not in the tuple.")

Highest score: 92 at index: 5
Lowest score: 45 appears 2 times.
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is at index: 2

Q.3
Random Numbers and Counting
Question: Create a list of 100 random numbers between 100 and 900. Count and print:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [5]:
import random
import math

random_numbers = [random.randint(100, 900) for _ in range(100)]


odd_numbers = [n for n in random_numbers if n % 2 != 0]

even_numbers = [n for n in random_numbers if n % 2 == 0]

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [n for n in random_numbers if is_prime(n)]

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)
print("Prime numbers:", prime_numbers)

Odd numbers: [839, 511, 429, 173, 279, 443, 773, 453, 279, 565, 133, 153, 115, 493, 349, 291, 375, 713, 847, 279, 491, 137, 803, 267, 667, 611, 421, 815, 485, 207, 555, 179, 711, 693, 751, 821, 725, 411, 859, 891, 467, 631, 523, 241, 317, 167, 859, 423, 891, 693, 611, 415, 529, 741]
Even numbers: [120, 142, 334, 576, 560, 778, 120, 300, 324, 278, 442, 720, 166, 578, 108, 316, 816, 196, 342, 336, 548, 624, 752, 806, 470, 842, 510, 500, 680, 642, 240, 332, 356, 506, 616, 316, 244, 262, 464, 602, 810, 586, 304, 900, 454, 164]
Prime numbers: [839, 173, 443, 773, 349, 491, 137, 421, 179, 751, 821, 859, 467, 631, 523, 241, 317, 167, 859]

Q.4
Perform operations on the sets A = {34, 56, 78, 90} and B = {78, 45, 90, 23}:
i. Find the unique scores (union)
ii. Identify common scores (intersection)
iii. Find exclusive scores (symmetric difference)
iv. Check if A is a subset of B and if B is a superset of A
v. Remove a specific score X from A

In [6]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


union_scores = A | B
print("Unique scores (Union):", union_scores)


common_scores = A & B
print("Common scores (Intersection):", common_scores)

exclusive_scores = A ^ B
print("Exclusive scores (Symmetric Difference):", exclusive_scores)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print("Is A a subset of B?:", is_subset)
print("Is B a superset of A?:", is_superset)


X = 56
if X in A:
    A.remove(X)
    print("After removal, A:", A)
else:
    print(f"{X} is not in A.")

Unique scores (Union): {34, 45, 78, 23, 56, 90}
Common scores (Intersection): {90, 78}
Exclusive scores (Symmetric Difference): {34, 45, 23, 56}
Is A a subset of B?: False
Is B a superset of A?: False
After removal, A: {34, 90, 78}

Q.5
Dictionary Operations
Question: Rename the key city to location in the dictionary:

In [8]:

data = {"city": "Las Vegas", "population": 8419600, "area": 468.9}


data["location"] = data.pop("city")


print("Updated dictionary:", data)

Updated dictionary: {'population': 8419600, 'area': 468.9, 'location': 'Las Vegas'}